@page "/employees"
<h3>Empleados</h3>

@if (employees == null)
{
    <Loading label="Cargando empleados, por favor espera..."/>
}
else
{
    <table border="1">
        <tr>
            <td>Empleado</td>
        </tr>
        @foreach(var employe in employees)
        {
            <tr>
                <td>@employe.FirstName @employe.LastName</td>
            </tr>
        } 
    </table>
}
